<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Request to smsc</title>
</head>
<body>
<section layout:fragment="header">
    <h1>Request</h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Request</li>
    </ol>
</section>
<div layout:fragment="content">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Lists request</h3>
            <!-- <div class="box-tools pull-right">
                 <a href="/customers/add" type="button" class="btn btn-box-tool"><i class="fa fa-plus"></i></a>
                 <br clear="all" />
             </div>-->
        </div>
        <div class="box-body no-padding">
            <table id="request" class="table table-striped">
                <tr>
                    <th>ID</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Request Date</th>
                    <th>Charset</th>
                </tr>
                <!--<tr th:each="row : ${list}">
                    <td th:text="${row.id}"></td>
                    <td th:text="${row.fromParam}"></td>
                    <td th:text="${row.toParam}"></td>
                    <td th:text="${#temporals.format(row.resquestDate, 'dd/MMMM/yyyy HH:mm')}"></td>
                    &lt;!&ndash;<td th:text="${row.resquestDate}"></td>&ndash;&gt;
                    <td th:text="${row.charset}"></td>

                </tr>-->
            </table>
        </div>

    </div>
</div>

<script>
    $('table#request').DataTable({
        ajax: '/requests',
        serverSide: true,
        columns: [
            {
                data: 'id'
            },
            {
                data: 'fromParam'
            },
            {
                data: 'toParam'
            },
            {
                data: 'resquestDate'
            },
            {
                data: 'charset'
            }
        ]
    });
</script>
</body>
</html>